@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Koulen", cursive;*/
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
